<span style="float:right;">
    <a href="@Url.Action("GioHang","GioHang")" style="float:right">
        <div class="nav-item" style="color:red" >
            <img src="~/image/giohang.png" width="80" height="60" />(@ViewBag.TongSoLuong)
        </div>


</a>
</span>

