
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/UserLayoutTest.cshtml";
}


<div class="row">
    <div>
        <h2 style="color:red;text-align:center;">Chào Mừng Bạn Đến Với Cửa Hàng Trang WEB LapTop Gaming</h2>
        <h3 style="text-align:center">Thông Tin Liên Hệ</h3>
        <div style="text-align:left">
            <p>-Địa Chỉ: Đường Huỳnh Văn Bánh Phường 15 Phú Nhuận Hồ Chí Minh</p>
            <p>-Điện Thoại: 01 234 567 88 </p>
            <p>-Mail: LapTopGM1418@gmail.com </p>
            <h3 style="text-align:center">Thời Gian Làm Việc</h3>
            <p>-Từ thứ 2 đến chủ nhật</p>
            <p>-Từ 7h đến 22h mỗi ngày</p>
            <p>-Điện Thoại Dự Phòng: 0923 010286</p>
        </div>
    </div>
</div>

